/* VARIABLES
---------------------------------------------------------------*/

/* Type */
$base-size: 1.7rem;
$baseline: 1.2rem;

/* Colors - orig */
$color-accent: rgba(10, 106, 166, 1);
$color-darkbg: #222222;
$color-altbg: #f4f4f4;
$color-learnmore: #ebebeb;
$color-buy: #fcb034;
$color-body: #ffffff;
$color-lighttext: lighten($color-darkbg, 40%);

/* Colors - flat UI */
//$color-accent: #2980b9;
//$color-darkbg: #2c3e50;
//$color-altbg: #ecf0f1;
//$color-learnmore: #ecf0f1;
//$color-buy: #f39c12;
//$color-body: #ffffff;

/* Layout defaults */
$padding-gutters: 20px;
$outer-gutter-contrast: 2%;
$border-radius: 2px;

/* Breakpoints */
/* http://css-tricks.com/naming-media-queries/ */
$bp-well-done: 1170px;
$bp-medium: 1065px;
$bp-medium-rare: 1000px;
$bp-rare: 875px;
$bp-raw: 400px;

/* BASE
--------------------------------------------------------------*/

/* Selected text */
::selection {
  background: $color-buy; /* Safari */
}
::-moz-selection {
  background: $color-buy; /* Safari */
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  margin-top: 0;
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  font-family: "pt-sans", Sans-Serif;
  margin-top: 0;
  -webkit-margin-before: 0;
  font-size: $base-size;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /*font-family: "nimbus-sans", serif;*/
  font-family: "museo-sans";
}

p {
  font-family: "pt-sans";
  line-height: $baseline * 2;
  margin-top: 0;
  margin-bottom: $baseline;
}

ul {
  margin: 0px 0px $baseline;
  list-style-type: disc;
}

a {
  text-decoration: underline;
  color: $color-accent;
  &:hover {
    color: $color-buy;
  }
}

fieldset {
  margin: 0 0 $baseline 0;
  padding: 0;
  border: 0;
}