//----------------------------------------
// Form styles
//----------------------------------------

// Labels
form label {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px dotted $color-learnmore;
}

.label-handwritten {
  font-family: 'Marck Script', cursive;
}
.label-prefix {
  color: $color-lighttext;
}

// Text fields
[type=text] {
  width: 95%;
  height: 100%;
  transition: width .2s ease;
  font-size: 150%;
  border: 1px solid $color-lighttext;
  border-radius: $border-radius;
  background-image: -webkit-linear-gradient(top, $color-altbg 10%, white 40%);
  box-shadow: 0 2px 2px 0 $color-altbg;
  &:focus {
    width: 100%;
  }
}

// Radios
.radiogroup {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  li {
    margin-bottom: $baseline;
    @extend .clearfix;
  }
  [type="radio"], label {
    float: left;
  }
  [type="radio"] {
    margin-top: .3em;
  }
}
// Note: not() attribute helps this code degrade gracefully
// For image replacement of radios
fieldset:not(#is4ie8) {
  > .radiogroup {
    input[type='radio'] {
      opacity: 0; // Hidden but still clickable
      float: left;
      + label {
        clear: none;
        margin: 0;
        padding: $baseline 0 $baseline ($padding-gutters * 2.5);
        background: url('../img/radio.png') left center no-repeat;
        cursor: pointer;
      }
      &:hover + label {
        background-image: url('../img/radio-hover.png');
      }
      &:checked + label {
        background-image: url('../img/radio-checked.png');
      }
    }
  }

  // Radio by itself, not in a list
  > .isolated-radio {
    opacity: 0;
    + label {
      float: left;
      width: $baseline * 3;
      height: $baseline * 3;
      background: url('../img/radio.png') 0 0 no-repeat;
      cursor: pointer;
    }

    &:checked + label {
      background: url('../img/radio-checked.png') 0 0 no-repeat;
    }
  }
}

.instructions {
  //position: absolute;
  position: relative;
  padding: $baseline $padding-gutters;
  background-color: $color-accent;
  color: $color-body;
  //box-shadow: 0 2px 2px 2px $color-altbg;

  &:before {
    $triangle-size: $baseline;
    content: "";
    position: absolute;
    top: -#{$triangle-size};
    left: $triangle-size;
    width: 0;
    height: 0;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;
    border-bottom: $triangle-size solid $color-accent;
  }
}