
// There's a 2px space above buttons when placed inline and I have no time to figure out why
.domain-input-container {
  position: relative;
  button {
    position: relative;
    top: -3px;
  }
  .huge-period {
    position: relative;
    bottom: -10px;
    font-size: 300%;
  }
}