/* ==========================================================================
   Main Custom Styles for Soholaunch.com
============================================================================= */

/* Vendor */
@import "normalize";
//@import "_helper";

/* Soholaunch Dependencies */
@import "_mixins";

/* Patterns */
@import "_base-and-vars";
@import "grid";
@import "_icons";
@import "_buttons";
@import "_forms";
@import "_shame";


/* LAYOUT
-----------------------------------------------------------------*/

/* GUTTERS - These container rules mainly handle the addition of outer gutters */
.container {
  padding: 0 $padding-gutters;
  background: $color-body;
  //@include linear-gradient(left, darken($color-body, $outer-gutter-contrast) 5%, $color-body 5%, $color-body 95%, darken($color-body, $outer-gutter-contrast) 95%);
  //@include bp-until($bp-well-done) {
  //  background: $color-body;
  //}

  &.stage {
    position: relative;
    //background: $color-accent;
    border-top: 1px solid darken($color-accent, 10%);
    //@include linear-gradient(left, darken($color-accent, $outer-gutter-contrast) 5%, $color-accent 5%, $color-accent 95%, darken($color-accent, $outer-gutter-contrast) 95%);
    //@include bp-until($bp-well-done) {
    //  background: $color-accent;
    //}
  }

  &.body {
    background: $color-body;
    border-top: 1px solid darken($color-body, 10%);
    //@include linear-gradient(left, darken($color-body, $outer-gutter-contrast) 5%, $color-body 5%, $color-body 95%, darken($color-body, $outer-gutter-contrast) 95%);
    //@include bp-until($bp-well-done) {
    //  background: $color-body;
    //}
  }

  &.alt {
    background: $color-altbg;
    border-top: 1px solid darken($color-altbg, 10%);
    //@include linear-gradient(left, darken($color-altbg, $outer-gutter-contrast) 5%, $color-altbg 5%, $color-altbg 95%, darken($color-altbg, $outer-gutter-contrast) 95%);
    //@include bp-until($bp-well-done) {
    //  background: $color-altbg;
    //}
  }

  &.dark {
    background: $color-darkbg;
    border-top: 1px solid darken($color-darkbg, 10%);
    //@include linear-gradient(left, darken($color-darkbg, $outer-gutter-contrast) 5%, $color-darkbg 5%, $color-darkbg 95%, darken($color-darkbg, $outer-gutter-contrast) 95%);
    //@include bp-until($bp-well-done) {
    //  background: $color-darkbg;
    //}
  }
}


h1 {
  //padding-right: $padding-gutters;
  #soholaunch-logo {
    max-height: 7 * $baseline;
  }
  @include bp-until($bp-raw) {
    text-align: center;
  }
}


nav {
  width: 100%;
  height: 5 * $baseline;
  margin-top: $baseline * 2;
  padding: 0;
  text-align: right;

  a {
    display: inline-block;
    height: 100%;
    margin: 0px -5px 0 0;
    padding: $baseline $padding-gutters $baseline ($padding-gutters - 4);
    border-left: 1px solid $color-altbg;
    text-align: right;
    font-size: $base-size * 1.2;
    font-weight: bold;
    text-decoration: none;
    color: $color-darkbg;
    //color: $color-buy;
    //text-shadow: 1px 1px 1px $color-altbg;
    transition: background-color 0.1s linear;

    &:last-child {
      border-right: 1px solid $color-altbg;
    }

    &:hover {
      text-decoration: underline;
      //color: $color-accent;
      color: $color-darkbg;
      background-color: $color-buy;
    }

    &:active {
      text-decoration: underline;
      color: #fff;
    }

    &.buy {
      //font-weight: bold;
    }

    @include bp-until($bp-medium) {
      font-size: $base-size * .95;
    }

    @include bp-until($bp-medium-rare) {
      font-size: $base-size * .90;
    }

    /* Compacted menu uses horizontal space conservatively */
    @include bp-until($bp-rare) {
      margin: 0;
      width: auto;
      text-align: left;
      font-size: $base-size;
      border: none;
      padding: $baseline $padding-gutters / 4;
      border-right: 1px solid $color-altbg;
      &:last-child {
        border-right: none;
      }
    }
  }

  @include bp-until($bp-rare) {
    text-align: right;
  }
}


/* HERO AREA */
.stage {
  color: #fff;
  background-color: $color-accent;
  background-image: -webkit-radial-gradient(top left, circle cover, lighten($color-accent, 10%), $color-accent);

  .stage-ss {
    //margin-left: $baseline;
    margin-bottom: -#{$baseline};
    height: 23 * $baseline;
    @include bp-until($bp-raw) {
      margin: $baseline 0px;
    }
  }

  h2 {
    font-size: 4.5rem;
    line-height: ($baseline * 4);
    font-weight: 300;
    color: white;
    @include stroke-text(1, white);
  }
  h3 {
    margin: $baseline 0;
    font-size: 2.2rem;
    font-weight: 100;
    line-height: $baseline * 2;
    strong {
      font-weight: 100;
      @include stroke-text(.5, white);
      letter-spacing: 1px;
    }
  }
}

/* Used primarily for checkout pages, where content needs more focus */
.stage-deemphasized {
  color: #fff;
  background: $color-darkbg;
  h3 {
    font-weight: 100;
  }
}

.body {
  h2, h3, h4, h5, h6 {
    margin-bottom: $baseline;
  }
  h3, h4, h5, h6 {
    margin-top: $baseline * 2;
  }

  // Content headings start at h2; h1 reserved for site id
  h2 {
    font-size: 3.6rem;
    line-height: ($baseline * 4);
    font-weight: 100;
  }
  h3 {
    font-size: 3.2rem;
    line-height: ($baseline * 4);
    font-weight: 100;
  }
  h4 {
    font-size: 2.8rem;
    line-height: $baseline * 4;
    font-weight: 100;
  }
  h5 {
    font-size: 2.4rem;
    line-height: $baseline * 3;
    font-weight: 100;
  }
  h6 {
    font-size: 2.0rem;
    line-height: $baseline * 3;
    font-weight: 400;
  }
}

.alt {
  background-color: $color-altbg;
}

/* FOOTER */
footer {
  background-color: $color-darkbg;
  color: white;
  h2 {
    font-size: 2.4rem;
    line-height: $baseline * 4;
    font-weight: 400;
  }
  h3 {
    font-size: 2.13rem;
    line-height: $baseline * 3;
    font-weight: 300;
  }
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    h3 {
      line-height: $baseline * 2;
      margin-bottom: 0;
      text-decoration: underline;
    }
    p {
      text-decoration: none;
      color: $color-altbg;
    }
    &:hover {
      background-color: lighten($color-darkbg, 5%);
    }
  }
}


/* MODULES
------------------------------------------------------------------*/
.money { color: #0aa648; }
.note { color: $color-lighttext; }

/* THEME / PAGE
------------------------------------------------------------------*/
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#feature-wheel {
  //-webkit-animation-name:             rotate;
  //-webkit-animation-duration:         3000s;
  //-webkit-animation-iteration-count:  infinite;
  //-webkit-animation-timing-function: linear;
}

/* Page-specific */
@import "_page-buy";