.pricing-package {
  height: $baseline * 35;
  border: 1px solid $color-learnmore;
  text-align: center;
  background-color: $color-altbg;

  h3 {
    margin: 0 -1px;
    padding: ($baseline / 2) ($padding-gutters / 2);
    background-color: $color-accent;
    color: #fff;
    font-size: $base-size * 1.2;
    line-height: $baseline * 2;
  }
  .price-monthly {
    //margin: ($baseline * 2);
    font-size: $base-size * 2;
  }
  p {
    margin: ($baseline * 2) ($padding-gutters / 2);
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li:before {
      font-family: serif;
      content: '✓ ';
    }
  }
  .contact-us {
    font-size: 1.6 * $base-size;
    line-height: 2 * $baseline;
  }
}

.checkout-steps {
  color: $color-lighttext;
  label, .list-steps {
    float: left;
  }
  label {
    font-weight: normal;
  }
  .list-steps {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  .list-steps li {
    float: left;
    padding-left: $padding-gutters;
  }
  .current {
    font-weight: bold;
  }
  @extend .clearfix;
}

.domain-input-container {
  #domain-name-input, select, span {
    display: inline-block;
    height: $baseline * 4;
    margin-top: 0;
    font-size: $baseline * 2;
  }
  #domain-name-input, select {
    border: 1px solid $color-darkbg;
    background-image: -webkit-linear-gradient(bottom, $color-buy 2px, white 2px, white 50%, $color-learnmore);
  }
  #domain-name-input {
    width: 70%;
    padding: 0 ($padding-gutters / 2);
  }
  //select {
  //  background-image: -webkit-linear-gradient(bottom, $color-buy 2px, $color-learnmore 2px, $color-learnmore 50%, white);
  //}
}

.payment-term {
  display: block;
  margin-bottom: $baseline;
  padding: $baseline;
  border: 1px solid $color-altbg;
  border-radius: $border-radius;
  background-color: $color-altbg;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: $color-learnmore;
  }
  .radio-single, .summary {
    float: left;
  }
  .radio-single {
    margin: 0 ($padding-gutters / 2) 0 ($padding-gutters / 2);
  }
  h6 {
    margin: 0;
  }

  @extend .clearfix;
}


// Step 2
//----------------------------------------
.step-screenshots {

  figure {
    width: 100%;
    height: $baseline * 12;
    border: 1px solid $color-accent;
    border-radius: $border-radius;
    box-shadow: 0px 2px 2px $color-altbg;
  }
}


//----------------------------------------
// Other abstract styles
//----------------------------------------
.list-naked {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0;
}