/* Styles for Global Settings > Search Engine Ranking */

ol.form-fields.meta {
	padding-left: 0;
}

.form-fields.meta li {
	width: 100%;
	content: "";
	display: table;
	clear: both;	
}
/*.form-fields.meta li:nth-child(odd) {
	background-color: #efefef;
}*/
.form-fields.meta li.example {
	background-color: #fff;
	border: 2px dashed #efefef;
}
.form-fields.meta li.warning {
	background-color: #FFFF99;
}

.form-fields.meta label, .form-fields.meta fieldset {
	float: left;
}

.form-fields.meta input, .form-fields.meta textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
}

.form-fields.meta fieldset {
	border: 0;
}

.form-fields.meta label {
	margin-top: 10px;
	width: 100px;
	text-align: right;
	font-weight: bold;
}

.form-fields.meta .field-meta-title {
	display: block;
	width: 300px;
	margin-bottom: 5px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	color: rgb(17, 34, 204);
}

.form-fields.meta .field-meta-desc {
	display: block;
	width: 400px;
	height: 50px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #444;
}